<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Buddy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add New Buddy</h1>
<form action="#" th:action="@{/addBuddy}" th:object="${buddy}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Number: <input type="text" th:field="*{number}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <a href="/">Home</a>
</form>
</body>
</html>